.queries {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.play {
  width: 20px;
  height: 20px;
}

.btnPlay {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  background-color: #70db70;
}

.btnPlay:hover,
.btnPlay:focus {
  background-color: rgb(47, 182, 47);
}

.btnStyles {
  margin: 0px 10px;
  align-self: flex-end;
}

.bgColorRed {
  background-color: #f55e5e;
}

.bgColorRed:hover,
.bgColorRed:focus {
  background-color: #c22e2e;
}
